body {
    justify-content: center;  
    align-items: center;      
    font-family: 'Nanum Pen Script';    
    min-height: 100vh;   
    margin: 0;
}

button {
    cursor: pointer;
}

/* 업체 상세정보 페이지 */

.name {
    width: 80%;
    margin: auto;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 50px;

    color : black;
    font-size: 35px;
    font-weight: bold;
}


/* ReataurantInfo.js */

.detailInfo {
    display: flex;
    width: 80%;
    margin: auto;
}

.detailInfo .info, .detailInfo .info_right{
    flex-basis: 50%;
    flex-grow: 1;
}

#restaurantInfo {
    padding-right: 20px;
    border-right: 3px solid rgba(223, 213, 213, 0.77);
}

#restaurantInfo .representative_image {
    margin: 0px auto; 
    margin-bottom: 50px;
    justify-content: space-around;

    border: 1px solid black;
    width: 450px;
    height: 250px;
}

#restaurantInfo .keywords,
#restaurantInfo .other_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#restaurantInfo .keywords{
    margin-bottom: 30px;
    justify-content: space-around;

    font-size: 20px;
    font-weight: bold;
    font-style: italic;

    padding-bottom: 5px;
    border-bottom: 1px solid rgb(112, 103, 103);
}

#restaurantInfo .other_info {
    flex-wrap: wrap;
}

#restaurantInfo .other_info span{
    padding: 10px;
    flex-basis: 100%;

    font-size: 15px;
}


/* Rating.js */

.rating {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 40px;
    flex-basis: 50%;
    flex-grow: 1;
}

.rating .moon_grade {
    flex-basis: 50%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.rating .assessment {
    flex-basis: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 18px;
}

.moon_grade .moon {
    width: 150px;
    height: 200px;
    margin: auto;

    border: 1px solid black;
    margin-bottom: 15px;
}

.moon_grade .grade {
    font-size: 20px;
}

.rating .btn_reviewing {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn_reviewing button {
    width: 350px;
    height: 60px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(255,51,51,0.77);
    border: none;
    color: white;
    font-size: 20px;

    box-shadow: 0 8px 16px 0 rgba(144, 137, 137, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.btn_reviewing button:hover {
    box-shadow: 350px 0 0 0 rgba(0,0,0,0.25) inset;
}


/* ViewReview.js */

.viewReview {
    width: 80%;
    margin: auto;
    margin-top: 70px;
}


.viewReview .title {
    font-size: 30px;
    color: rgba(255,51,51,0.77);
    font-weight: bold;

    padding-bottom: 30px;
}

.viewReview .reviewBox {
    display: flex;
    flex-direction: row;

    border-bottom: 2px solid rgba(189, 178, 178, 0.77);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.reviewBox .nick {
    flex-basis: 10%;
    margin: auto;
    text-align: center;
}

.nick span {
    font-weight: 600;
}

.reviewBox .assessment {
    flex-basis: 20%;
    padding-left: 20px;
}

.reviewBox .statement {
    flex-basis: 70%;

    border: 2px solid rgba(223, 213, 213, 0.77);
    border-radius: 5px;
    padding: 10px;

}

/*=============================================================================================================================*/

/* 맛집 리스트 생성 팝업 */

.createList {
    margin: auto;
    background-color: white;
    border: 5px solid rgba(290,51,51,0.6);
    border-radius: 20px;
    width: 300px;
}

.createList .inputBox {
    padding: 25px;
}

.inputBox :nth-child(1) {
    font-size: 16px;
    font-weight: 550;
    padding-bottom: 5px;
}

.inputBox :nth-child(3), .inputBox :nth-child(5) {
    font-size: 13px;
    font-weight: 550;
    padding-bottom: 5px;
}

.inputBox input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid rgb(187, 185, 185);
    margin-bottom: 15px;
    width: 80%;
}

.inputBox textarea {
    border: 1.5px solid rgb(187, 185, 185);
    width: 90%;
    height: 40px;
    padding: 10px;
    margin-bottom: 15px;
}

.createList .keywords {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.createList button {
    background-color: rgb(187, 185, 185);
    border: none;
    border-radius: 3px;
    
    margin:5px;
    width: 100px;
    height: 30px;

    color: rgb(255, 255, 255);
}

.createList button:hover {
    background-color: rgba(255,51,51,0.77);
}

.createOrNot{
    display: flex;
    justify-content: space-between;

    border-top: 2px dotted rgb(187, 185, 185);
}

.createOrNot button {
    width: 40%;
    border: none;
    background-color: white ;
    color: rgb(187, 185, 185);
    font-weight: bold ;
    font-size: 15px;
}


.createOrNot button:hover {
    color:rgb(8, 181, 211);
    background-color: white;
}

/*=============================================================================================================================*/

/* 내 맛집 리스트 드롭다운 메뉴 */
/* MyList_dropdown.js */

.myList {
    display: flex;
    justify-content: end;
}

.myList #dropdown-basic-button {
    background-color: white;
    border: 3px solid rgba(255,51,51,0.77);
    color: rgb(100, 98, 98);
    
}

.addListModal, .createListModal{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.addListModal .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 400px;
    height: 150px;

    background-color:rgb(255, 255, 255);
    border: 3px solid rgba(255,51,51,0.77);
    border-radius: 20px;
}

.addListModal .content div {
    display:flex;
    justify-content: center;
    
    width:100%;
    font-size: 20px;
    color:  rgba(255,51,51,0.77);
}

.addListModal img {
    width: 70px;
    height: 70px;
}

.addListModal .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color:rgb(255, 255, 255);
}

.createListModal {
    background-color: rgba(0, 0, 0, 0.2);
}
