
.product.list {
    
}
.product-items{
    display : flex;
    flex-wrap : wrap;
    .product-card {
        width : 24%;
        border : 1px solid #ccc;
        border-radius : 16px;
        margin-bottom : 16px;

    }
}