.postsearchpage_container {

    justify-content: center;
    align-content: center;
    margin :5px;
    padding : 3px;
    position : relative;
    flex-wrap: wrap;
}

.postsearchpage_content {

}

.postsearchpage_row {
    flex-direction: row;
    justify-content: center;

}

.CancelProduct {
    padding : 10px;
    margin : 5px;
    flex-wrap: wrap;
    justify-self: start;
}

.empty-box {
    color : black;
    text-align: center;
    text-justify: center;
    height : 600px;
    width : 500px;
}